@import "ember-mobile-menu/variables";

// global ------------------------------------------------------------------- //
body.mobile-menu--open {
  overflow: hidden;
}

// toggler ------------------------------------------------------------------ //
.mobile-menu__toggle {
  display: inline-block;
  cursor: pointer!important;
}

// pan recognizer ----------------------------------------------------------- //
//TODO: this causes glitches when a disappearing bar is present in the browser itself
.mobile-menu-wrapper {
  min-height: $mobile-menu-wrapper-min-height;
}

// mobile menu -------------------------------------------------------------- //
.mobile-menu {
  position: fixed;
  z-index: $mobile-menu-z-index;
  top: 0;
  width: 0;
  height: 0;

  .mobile-menu__tray {
    position: fixed;
    top: 0;

    height: $mobile-menu-height;

    overflow-y: auto;
    touch-action: pan-y;

    background: #FFF;

    will-change: transform;
  }

  &.mobile-menu--left {
    left: 0;
  }
  &.mobile-menu--right {
    right: 0;
  }

  .mobile-menu__mask {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.5);
    opacity: 0;
    cursor: pointer; // necessary to detect click on iOS

    will-change: opacity;

    visibility: hidden;
  }

  &.mobile-menu--shadow.mobile-menu--open,
  &.mobile-menu--shadow.mobile-menu--transitioning,
  &.mobile-menu--shadow.mobile-menu--dragging {
    .mobile-menu__tray {
      box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }
  }
}
