@import "ember-mobile-menu/variables";

// global ------------------------------------------------------------------- //
body.mobile-menu--prevent-scroll {
  overflow: hidden;
}

// toggler ------------------------------------------------------------------ //
.mobile-menu__toggle {
  display: inline-block;
  cursor: pointer!important;
}

// pan recognizer ----------------------------------------------------------- //
//TODO: this causes glitches when a disappearing bar is present in the browser itself
.mobile-menu-wrapper {
  min-height: $mobile-menu-wrapper-min-height;
  min-width: 100vw;

  &--embedded {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
  }

  &__content {
    min-height: 100%;
    position: relative;
    background: #FFF;
    will-change: transform, margin-left, margin-right; // TODO: optimize per mode
    z-index: 1;
    touch-action: pan-y;

    &--shadow {
      box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    }

    &--ios, &--reveal, &--squeeze-reveal {
      z-index: 2;
    }
  }
}

// mobile menu -------------------------------------------------------------- //
.mobile-menu {
  position: fixed;
  top: 0;
  width: 0;
  height: 0;

  .mobile-menu__tray {
    position: absolute;
    top: 0;

    height: $mobile-menu-height;

    overflow-y: auto;
    touch-action: pan-y;

    background: #FFF;

    will-change: transform;
  }

  &.mobile-menu--left {
    left: 0;
  }
  &.mobile-menu--right {
    right: 0;
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 0;

    border: none;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.3);
    opacity: 0;
    cursor: pointer; // necessary to detect click on iOS
    touch-action: pan-y;

    will-change: opacity;

    visibility: hidden;
  }

  // mode specific modifications ------------------------------------------- //
  &--default {
    z-index: $mobile-menu-z-index;
  }

  &--squeeze, &--push {
    z-index: 2;
  }

  &--ios, &--reveal, &--squeeze-reveal {
    z-index: -1;

    &.mobile-menu--dragging,
    &.mobile-menu--transitioning,
    &.mobile-menu--open {
      z-index: unset;
    }

    .mobile-menu__mask {
      z-index: 1;
    }

    &.mobile-menu--open .mobile-menu__mask {
      display: none;
    }
  }
}

.mobile-menu-wrapper--embedded .mobile-menu {
  position: absolute;

  &__mask,
  &.mobile-menu--open,
  &.mobile-menu--transitioning,
  &.mobile-menu--dragging {
    width: 100%;
  }

  &,
  &__mask,
  .mobile-menu__tray {
    height: 100%;
  }
}
