<DocsViewer as |viewer|>

  <viewer.nav as |nav|>
    <nav.section @label="Introduction"/>
    <nav.item @label="Introduction" @route="docs.index"/>
    <nav.item @label="Usage" @route="docs.usage"/>
    <nav.item @label="Quickstart" @route="docs.quickstart"/>

    <nav.section @label="Components"/>
    <nav.item @label="Menu Wrapper" @route="docs.components.menu-wrapper"/>
    <nav.item @label="Menu" @route="docs.components.menu"/>
  </viewer.nav>

  <viewer.main>
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>

</DocsViewer>