@import "ember-mobile-menu";
@import "ember-mobile-menu/themes/android";

body > .ember-view {
  // this margin was set beacuse ember-cli-addon-docs expects there to be an application-wrapper
  margin-top: unset;
}

.demo-height {
  height: 500px;

  .mobile-menu-wrapper {
    height: 100%;
  }
}

.mobile-menu-example-options {
  margin-top: 2rem;

  h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
  }

  label {
    input {
      margin-right: 0.5rem;
    }
  }
}

.mobile-menu-demo {
  background: #FFF;
  box-shadow: 0 25px 50px rgba(0,0,0,0.3);
  border-width: 2px;

  > .example {
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
  }

  .mobile-menu-wrapper {
    height: 500px;
  }

  .mobile-menu__header {
    background: lighten(#E04E39, 5%);
  }
}

table {
  margin-bottom: 1rem;

  th {
    font-weight: bold;
    white-space: nowrap;
  }

  th, td {
    border: 1px solid #6c757d;
    padding: 0.25rem 0.5rem;
  }
}
