@import "ember-mobile-menu/variables";

// global ------------------------------------------------------------------- //
body.mobile-menu--prevent-scroll {
  overflow: hidden;
}

// toggler ------------------------------------------------------------------ //
.mobile-menu__toggle {
  cursor: pointer;
}

// pan recognizer ----------------------------------------------------------- //
.mobile-menu-wrapper {
  overflow: hidden;
  width: $mobile-menu-wrapper-width;
  min-height: $mobile-menu-wrapper-min-height;
  /* Avoid Chrome to see Safari hack */
  @supports (-webkit-touch-callout: none) {
    /* The hack for Safari */
    min-height: -webkit-fill-available;
  }

  &--embedded {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;

    .mobile-menu-wrapper__content {
      min-height: 100%;
    }
  }

  &__content {
    min-height: $mobile-menu-wrapper-min-height;
    position: relative;
    background: #FFF;
    will-change: transform, margin-left, margin-right; // TODO: optimize per mode
    z-index: 1;
    touch-action: pan-y;

    &--shadow {
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    &--ios, &--reveal, &--squeeze-reveal {
      z-index: 2;
    }
  }
}

// mobile menu -------------------------------------------------------------- //
.mobile-menu {
  position: fixed;
  top: 0;
  width: 0;

  .mobile-menu__tray {
    position: absolute;
    top: 0;

    height: $mobile-menu-height;
    /* Avoid Chrome to see Safari hack */
    @supports (-webkit-touch-callout: none) {
      /* The hack for Safari */
      height: -webkit-fill-available;
    }

    overflow-y: auto;
    touch-action: pan-y;

    background: #FFF;

    will-change: transform;
  }

  &.mobile-menu--left {
    left: 0;
  }
  &.mobile-menu--right {
    right: 0;
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 0;

    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
    /* Avoid Chrome to see Safari hack */
    @supports (-webkit-touch-callout: none) {
      /* The hack for Safari */
      height: -webkit-fill-available;
    }

    background: rgba(0,0,0,0.3);
    opacity: 0;
    transition: none;
    touch-action: pan-y;

    will-change: opacity;
    visibility: hidden;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  // mode specific modifications ------------------------------------------- //
  &--default {
    z-index: $mobile-menu-z-index;
  }

  &--squeeze, &--push {
    z-index: 2;
  }

  &--ios, &--reveal, &--squeeze-reveal {
    display: none;
    z-index: -1;

    &.mobile-menu--dragging,
    &.mobile-menu--transitioning,
    &.mobile-menu--open {
      display: block;
      z-index: unset;
    }

    .mobile-menu__mask {
      z-index: 1;
    }

    &.mobile-menu--open .mobile-menu__mask {
      display: none;
    }
  }
}

.mobile-menu-wrapper--embedded .mobile-menu {
  position: absolute;

  &__mask,
  &.mobile-menu--open,
  &.mobile-menu--transitioning,
  &.mobile-menu--dragging {
    width: 100%;
  }

  &,
  &__mask,
  .mobile-menu__tray {
    height: 100%;
  }
}
