.mobile-menu__mask {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* Avoid Chrome to see Safari hack */
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: none;
  touch-action: pan-y;
  overscroll-behavior: contain;
  will-change: opacity;
  visibility: hidden;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
@supports (-webkit-touch-callout: none) {
  .mobile-menu__mask {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}
