<div class="mobile-menu__mask" {{action 'close'}}></div>
{{!--#if isFastBoot}}
  {{#if isOpen}}
    {{#link-to (query-params sideMenuOpen=false) class="mobile-menu__mask" style="opacity: 1;"}}{{/link-to}}
  {{/if}}
{{/if--}}

<div class="mobile-menu__tray">
  {{yield (hash
    link-to=(component 'mobile-menu/link-to' onClick=(action 'close'))
  )}}
</div>