// variables ---------------------------------------------------------------- //
$mobile-menu-wrapper-width: 100% !default;
$mobile-menu-wrapper-min-height: 100vh !default;

$mobile-menu-transition-duration: 0.3s !default;
$mobile-menu-height:              100vh !default;
$mobile-menu-z-index:             2000 !default;

// themes ------------------------------------------------------------------- //

// - android ---------------------------------------------------------------- //
$mobile-menu-header-bg:                 #E04E39 !default;

$mobile-menu-item-color:                #333 !default;
$mobile-menu-item-active-bg:            #EEE !default;
$mobile-menu-item-link-disabled-color:  #6c757d !default;
