// variables ---------------------------------------------------------------- //
$transition-duration:         0.3s !default;
$mobile-menu-wrapper-min-height: 100vh !default;

$mobile-menu-height: 100vh !default;
$mobile-menu-z-index: 2000 !default;
