{{#mobile-menu-wrapper as |mmw|}}
  {{docs-header}}

  {{outlet}}

  {{#mmw.mobile-menu as |mm|}}
    <h2>You have found the menu!</h2>
    {{#mm.link-to "index"}}Home{{/mm.link-to}}
  {{/mmw.mobile-menu}}
{{/mobile-menu-wrapper}}