name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  dist: ember-mobile-menu/dist

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm

      - name: Install Dependencies
        # Runs build via "prepare" in root package.json
        run: pnpm install
      - name: Upload dist assets to cache
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ${{ env.dist }}

  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Lint
        run: pnpm lint

  test:
    name: "Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: ["build"]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Download built package from cache
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ${{ env.dist }}
      - name: Run Tests
        run: pnpm test:ember

  floating:
    name: "Floating Dependencies"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: ["build"]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm
      - name: Remove lock file
        shell: bash
        run: rm pnpm-lock.yaml
      - name: Install Dependencies
        run: pnpm install --ignore-scripts
      - name: Download built package from cache
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ${{ env.dist }}
      - name: Run Tests
        run: pnpm test:ember

  try-scenarios:
    name: ${{ matrix.try-scenario }}
    runs-on: ubuntu-latest
    needs: ["test", "build"]
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-lts-3.28
          - ember-lts-4.4
          - ember-lts-4.8
          - ember-lts-4.12
          - ember-lts-5.4
          - ember-lts-5.8
          - ember-lts-5.12
          - ember-lts-6.4
          - ember-release

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm
      - run: echo "inject-workspace-packages=true" >> .npmrc
      - run: echo "sync-injected-deps-after-scripts[]=build" >> .npmrc
      - run: cat .npmrc

      - name: Download built package from cache
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ${{ env.dist }}

      - name: Install Dependencies
        run: pnpm install --no-frozen-lockfile --ignore-scripts
      - name: Run Tests
<<<<<<< HEAD
        run: |
          rm ../pnpm-lock.yaml
          ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }} --skip-cleanup
||||||| 234e01d
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }}
=======
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }} --skip-cleanup
>>>>>>> origin/master
        working-directory: test-app

  allowed-fail-try-scenarios:
    name: ${{ matrix.try-scenario }} - Allowed to fail
    runs-on: ubuntu-latest
    needs: ["test", "build"]
    permissions:
      pull-requests: write

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-beta
          - ember-canary

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm
      - run: echo "inject-workspace-packages=true" >> .npmrc
      - run: echo "sync-injected-deps-after-scripts[]=build" >> .npmrc
      - run: cat .npmrc

      - name: Download built package from cache
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ${{ env.dist }}

      - name: Install Dependencies
        run: pnpm install --no-frozen-lockfile --ignore-scripts
      - name: Run Tests
        id: tests
<<<<<<< HEAD
        run: |
          rm ../pnpm-lock.yaml
          ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }} --skip-cleanup
||||||| 234e01d
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }}
=======
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }} --skip-cleanup
>>>>>>> origin/master
        continue-on-error: true
        working-directory: test-app
      - uses: mainmatter/continue-on-error-comment@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          outcome: ${{ steps.tests.outcome }}
          test-id: ${{ matrix.try-scenario }}
